---
import Layout from "../layouts/Layout.astro";
import AllPosts from "../sections/AllPosts.astro";
import Hero from "../sections/Hero.astro";
import News from "../sections/News.astro";
---

<Layout title="" description="">
  <main>
    <Hero />
    <News />
    <AllPosts />
  </main>
</Layout>
