---
import SearchLogo from "../icons/SearchLogo.astro";
---

<header class="bg-white">
  <nav class="flex justify-between items-center h-20 max-w-5xl mx-auto">
    <h1>NOMBRE-WEB</h1>
    <ol class="flex justify-center items-center gap-16">
      <li>Home</li>
      <li>Blog</li>
    </ol>
    <SearchLogo />
</nav>
</header>
