---
import ButtonAllBlog from "../components/ui/ButtonAllBlog.astro";
import IGLogo from "../icons/IGLogo.astro";
import WSPLogo from "../icons/WSPLogo.astro";
---

<section class="max-w-6xl mx-auto flex flex-col justify-center items-center">
  <div>
    <ButtonAllBlog />
  </div>
  <div class="flex gap-5">
    <IGLogo />
    <WSPLogo />
  </div>
</section>
