---
import LatestNews from "../components/LatestNews.astro";
---

<section class="flex gap-20 justify-center items-center max-w-6xl mx-auto">
  <div>
    <LatestNews title="aaaa" date="aaa" img="" />
    <LatestNews title="aaaa" date="aaa" img="" />
  </div>
  <div>
    <LatestNews title="aaaa" date="aaa" img="" />
    <LatestNews title="aaaa" date="aaa" img="" />
  </div>
</section>
