---
import ArrowRightLogo from "../../icons/ArrowRightLogo.astro";
---

<a href="" rel="noopener referrer" class="text-white flex justify-center items-center gap-3 mb-10 mt-20">
  See all
  <ArrowRightLogo />
</a>
